body {
    font-family: 'Vazirmatn', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

#map {
    margin: 20px 0;
}

form {
    display: flex;
    flex-direction: column;
}

form input, form textarea {
    margin: 10px 0;
    padding: 10px;
}

footer {
    text-align: center;
    margin-top: 20px;
}